#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    overflow: auto;
    height: auto;

    & main {
      order: 1;
    }

    & main, & aside {
      padding: 2rem;
    }
  }
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
}

aside {
  padding: 4rem;
  background-color: var(--surface-secondary);

  & .aside-container {
    max-width: 31rem;
    margin-right: auto;

    & > img {
      width: 100%;
      margin-top: 2rem;
    }
  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
    
    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }

    & strong {
      color: var(--text-highlight);
    }
  }
}