/* Formulário */
form {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  padding: 3.5rem 4rem;
  
  @media screen and (max-width: 600px) {
    padding: 1.5rem 2rem;
  }
}

/* Rótulos */
label {
  font-family: var(--family-inter);
  font-size: 0.75rem;
  color: var(--color-placeholder);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

/* Entradas de texto e seleções */
input,
select {
  outline: 0;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-background);
  padding: 1.25rem 1rem;
  font-family: var(--family-inter);
  font-size: 1rem;
}

/* Estilo de seleção */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../img/chevron-down.svg") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  background-color: var(--color-background);
  cursor: pointer;
  font-size: 1rem;
}

/* Placeholder e opções inválidas */
input::placeholder,
select:invalid,
option {
  color: var(--color-placeholder);
}

/* Foco */
input:focus,
select:focus {
  border: 1px solid var(--color-accent);
}
