/* Rodapé */
footer {
  background-color: var(--color-secondary);
  padding: 2.5rem;
  max-height: 196px;
  text-align: center;
  display: none;
  overflow-y: scroll;
}

/* Mostrar resultado */
.show-result {
  display: block;
}

/* Estilos do rodapé */
footer span {
  color: var(--color-secondary);
  font-size: 1rem;
  font-family: var(--family-ibm-mono);
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
}

footer h1 {
  color: var(--color-text);
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  word-break: break-all;
}
